<%- include('../partials/Script'); %>

<body>
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
          <!-- <h3>Contact Us</h3> -->
          <h1>Contact Us</h1>
          <p>Let’s connect! This is your gateway to getting in touch with our team. Whether you’re exploring new business opportunities, seeking support, or simply want more information, we’re here to help. Send us a message through any of the contact options below, and we’ll get back to you shortly.</p>
          <!-- <p>Evantage Solutions Sdn Bhd (Evantage) gives clients the power to improve capital asset management in ways that increase reliability, enhance predictive maintenance, ensure regulatory compliance, reduce energy usage and support sustainability initiatives.</p> -->
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/FeaturePage/WorkOrder.png" alt="Work Order Image">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <%- include('../partials/Clients'); %>

  <%- include('../partials/Contact'); %>

  <%- include('../partials/Footer'); %>
</body>

</html>